<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head'); %>

</head>

<body>

  <header class="header" id="header">

    <%- include('../partials/header'); %>

  </header>

  <div class="container">

    <div class="searchDiv">
      <h2 class="searchHeader">Search and download millions of subtitles for free!</h2>
      <div class="search__container">
        <input class="search__input" type="text" placeholder="Search">
      </div>
    </div>

    <div class="section">
      <a href="/popular" class="section-name">Popular Subtitles</a>
      <div class="homeSubs">
        <% for (let i = 0; i < Math.min(4, section[0].data.length); i++) {%>
        <div class="homeSub">
          <img class="homeImg" src="<%= section[0].data[i].imdbInfo.poster || '' %>" alt="<%= section[0].data[i].title || '' %>">
          <div class="homeInfo">
            <a href="<%= section[0].data[i].path || '' %>" class="homeTitle"><%= section[0].data[i].title || '' %></a>
            <div class="homeMore">
              <span class="homeType"><%= section[0].data[i].imdbInfo.type || '' %></span>
              <span class="homeRating">⭐ <%= section[0].data[i].imdbInfo.rating.star || '' %></span>
            </div>
            <div class="homeSubtitlesDiv">
              <h3>Subtitles</h3>
              <ol class="homeSubtitles">
                <% for (let k = 0; k < section[0].data[i].subtitles.length; k++) {%>
                <li>
                  <a href="<%= section[0].data[i].subtitles[k].url || '' %>" class="homeSubtitle">
                    <%= section[0].data[i].subtitles[k].name || '' %>
                  </a>
                </li>
                <% } %>
              </ol>
              <p><%= section[0].data[i].noSubs || '' %></p>
            </div>
          </div>
        </div>
        <% } %>

        <% if (section[2]) { %>
        <% for (let i = 0; i < Math.min(4 - section[0].data.length, section[1].data.length); i++) {%>
        <div class="homeSub">
          <img class="homeImg" src="<%= section[1].data[i].imdbInfo.poster || '' %>" alt="<%= section[0].data[i].title || '' %>">
          <div class="homeInfo">
            <a href="<%= section[1].data[i].path || '' %>" class="homeTitle"><%= section[1].data[i].title || '' %></a>
            <div class="homeMore">
              <span class="homeType"><%= section[1].data[i].imdbInfo.type || '' %></span>
              <span class="homeRating">⭐ <%= section[1].data[i].imdbInfo.rating.star || '' %></span>
            </div>
            <div class="homeSubtitlesDiv">
              <h3>Subtitles</h3>
              <ol class="homeSubtitles">
                <% for (let k = 0; k < section[1].data[i].subtitles.length; k++) {%>
                <li>
                  <a href="<%= section[1].data[i].subtitles[k].url || '' %>" class="homeSubtitle">
                    <%= section[1].data[i].subtitles[k].name || '' %>
                  </a>
                </li>
                <% } %>
              </ol>
              <p><%= section[0].data[i].noSubs || '' %></p>
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
    </div>

    <% if (section[2]) { %>
    <div class="section">
      <a href="/recent" class="section-name"> <%= section[2].section || '' %> </a>

      <div class="homeRecentSubs">
        <div class="tableContainer">
          <table id="recentDataTable" class="recentTable display responsive" width="100%">
            <thead>
              <tr>
                <th>Language</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for (let j = 0; j < section[2].data.length; j++) {%>
              <tr>
                <td><%= section[2].data[j].lan %></td>
                <td><a href="<%= section[2].data[j].url || '' %>"><%= section[2].data[j].name || '' %></a></td>
                <td><a href="<%= section[2].data[j].url || '' %>" class="dlBtn"><i class="fas fa-download"></i></a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% } %>

    <% if (!section[2]) { %>
    <div class="section">
      <a href="/recent" class="section-name"> <%= section[1].section %> </a>

      <div class="homeRecentSubs">
        <div class="tableContainer">
          <table id="recentDataTable" class="recentTable display responsive" width="100%">
            <thead>
              <tr>
                <th>Language</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for (let j = 0; j < section[1].data.length; j++) {%>
              <tr>
                <td><%= section[1].data[j].lan %></td>
                <td><a href="<%= section[1].data[j].url || '' %>"><%= section[1].data[j].name %></a></td>
                <td><a href="<%= section[1].data[j].url || '' %>" class="dlBtn"><i class="fas fa-download"></i></a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% } %>

  </div>

  <footer>

    <%- include('../partials/footer'); %>

  </footer>

</body>

</html>